<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Maxlink IT Solutions(1+ Years)</div>
                                        <div class="h6 mt-0 title">Jr. Dot Net Full Stack Developer (2022-11 to - Present)</div>
                                        <p align="justify">Water Monitoring System, Saving Water , Water Management,Mobile App Developement and custom Software Development.</p>
                                        <p align="justify">Worknig as Dot net developer for Maxlink team</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Scrum</li>
                                                        <li class="non_list">Sprint</li>
                                                        <li class="non_list">PGAdmin</li>
                                                        <li class="non_list">IIS Server</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">WEB API</li>
                                                        <li class="non_list">C#</li>
                                                        <li class="non_list">PostGreSQL</li>
                                                        <li class="non_list">Angular 6</li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Vrindi India PVT LTD(8 Months)</div>
                                        <div class="h6 mt-0 title">Software Engineer (2020-06 - 2021-01)</div>
                                        <p align="justify">Worked as a Software developer to develop analytical and visualization solution for hotel and restaurant domains.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">C#</li>
                                                        <li class="non_list">MS SQL 2014</li>
                                                        <li class="non_list">IIS Server</li>
                                                        <li class="non_list">Redis Cache</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Git</li>
                                                        <li class="non_list">.NET Web Application forms(aspx forms)</li>
                                                        <li class="non_list">File Zila FTP Server</li>

                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
