<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
          <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body cc-education-header">
                      <p>2018-2020</p>
                  <div class="h5">Masters Degree</div>
                  </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body">
                      <div class="h4">Masters of Science in Information Technology</div>
                          <h4 class="category">ISTAR College,VVN.</h4>
                          <ul>
                              <li> Institute of scientific,Technogical and advanced reasearch(Affilated to SPU) <b>ranks 3rd in UGC</b> in Guajarat </li>
                                  <li>Completed M.Sc in Information Technology with <b>8.60 CGPA</b>.</li>
                          </ul>
                  </div>
              </div>
          </div>
      </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2018</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Science</div>
                                <h4 class="category">VP Scince College,VVN.</h4>
                                <ul>
                                    <li> V.P. Scince College(Affilated to SPU) <b>ranks 1st</b> in Guajarat </li>
                                        <li>Completed B.Sc in Computer Science with <b>7.56 CGPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
